<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
      <form action="/piglatinize" method="POST">
        <p>Enter your phrase: <textarea name="user_phrase id="" cols="20" rows="5"></textarea></p>
        <p><input type="submit" value="Submit"></p>
      </form>
  </body>
</html>